node_modules/
__pycache__/
*.pyc
third_party/
.direnv/
.retroarch/
.cache/
result
result-*
*.swp
roms/*
translation/script*.txt
build/
dist/*.sfc
scenarios/checkpoints/*.state
scenarios/checkpoints/*.bin
*.log
